obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
obj/Debug/net9.0/UserManagementAPI.AssemblyInfo.cs
obj/Debug/net9.0/UserManagementAPI.AssemblyInfoInputs.cache
obj/Debug/net9.0/UserManagementAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/UserManagementAPI.GlobalUsings.g.cs
